<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	<style>
		.active{
			 background-color: #D9D9D9;
		}
	</style>
</head>
<body>
	<div>
		<div ng-app="playListApp" ng-controller="playListController">
			<p>Track: {{selectedTrack().name}}</p>
			<button ng-click="previous()">prev</button>
			<button ng-click="next()">next</button>
			
			<audio id="playlist-audio" controls="controls" width="300"></audio>
			
			<ul ng-repeat="track in tracks">
				<li ng-class="{active:selectedIndex == $index}" ng-click="loadTrack($index)">{{track.name}}</li>
			</ul>
		</div>
	</div>
<script src="/javascripts/playlist.js"></script>

