<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Playlist - Alwyn Lombaard's blog</title>
  <meta name="author" content="Alwyn Lombaard">

  
  <meta name="description" content="Recordings during some of my practice sessions">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://blog.lombaard.co.uk/blog/2015/10/11/brouwer-study-no-6">
  <link href="/favicon.png" rel="icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="/atom.xml" rel="alternate" title="Alwyn Lombaard's blog" type="application/atom+xml">
  <script src="/javascripts/modernizr-2.0.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="./javascripts/libs/jquery.min.js"%3E%3C/script%3E'))</script>
  <script src="/javascripts/octopress.js" type="text/javascript"></script>
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-52220218-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

	<style>
		.active{
			 background-color: #b7b7b7;
		}
		
		.prev {
			height: 56px;
			width: 56px;
			background: url(/images/controls.jpg) -56px -112px;
		}
		.next {
			height: 56px;
			width: 56px;
			background: url(/images/controls.jpg) -112px -112px;
		}
		.left{
			float:left;
		}
		.clear
		{
			clear:both;
		}
		.playlist ul{
			list-style: none;
			padding: 3px;
			margin: 3px;
		}
		.playlist ul{
			width: 400px;
		}
		
		.playlist ul li.track{
			cursor:pointer;
			padding-bottom : 3px;
			padding-top: 3px;
		}
		
		#extra-controls{
			width:300px;
			vertical-align: center;
			padding-bottom: 30px;
			//border: 1px solid red;
		}
		
	</style>
</head>

<body   class="collapse-sidebar sidebar-footer" >
  <header role="banner"><hgroup>
  <h1><a href="/">Alwyn Lombaard's blog</a></h1>
  
    <h2>Programmer, guitar student and athlete in my spare time</h2>
  
</hgroup>

</header>
  <nav role="navigation"><ul class="subscription" data-subscription="rss">
  <li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul>
  
  
<ul class="subscription">
  <li><a href="https://plus.google.com/104188129605360544174" rel="publisher" title="Google+ Profile">Google+</a></li>
</ul>
  
  
  
  
  
  
<ul class="subscription">
  <li><a href="https://github.com/alwynlombaard" rel="subscribe-github" title="@alwynlombaard on GitHub">GitHub</a></li>
</ul>
  
  
  
  
<form action="https://www.google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="as_sitesearch" value="blog.lombaard.co.uk" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
  
<ul class="main-navigation">
  <li><a href="/">Blog</a></li>
  <li><a href="/blog/archives">Archives</a></li>
</ul>

</nav>
  <div id="main">
    <div id="content">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>

<div>
	<article class="hentry" role="article">
		<header><h1 class="entry-title">Playlist</h1></header>
		<div class="entry-content">
			
			<p>Here is a list of some of the recordings I've made during my practice sessions.</p>
			
			<div class="playlist" ng-app="playListApp" ng-controller="playListController">
				<h2>Track: {{selectedTrack().name}}</h2>
				
			
			
				<div id="cwrap">
					
						
						
							<audio id="playlist-audio" controls="controls" width="300">
								
							</audio>
							<div id="extra-controls">
								<button id="btnPrev" class="ctrlbtn" ng-click="previous()">|&lt;&lt; Prev Track</button> <button id="btnNext" class="ctrlbtn" ng-click="next()">Next Track &gt;&gt;|</button>
							</div>
							
							
						</div>
						
						<h3>Playlist</h3>
						
						<ul>
							<li class="track" ng-repeat="track in tracks" ng-class="{active:selectedIndex == $index}" ng-click="loadTrack($index)">{{track.track}}. {{track.name}} - {{track.length}}</li>
						</ul>

				</div>
			</div>
		</div>
	</article>
</div>

 <footer role="contentinfo"><p>
  Copyright &copy; 2015 - Alwyn Lombaard -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a> | Themed with <a href="https://github.com/lucaslew/whitespace">Whitespace</a></span>
</p>

</footer>

</body>


<script src="/javascripts/playlist.js"></script>

</html>

